plugins {
    id("com.android.application")
    id("org.jetbrains.kotlin.android")
    {{COMPOSE_PLUGIN}}
}

android {
    namespace = "{{PACKAGE_NAME}}"
    compileSdk = {{TARGET_SDK}}

    defaultConfig {
        applicationId = "{{PACKAGE_NAME}}"
        minSdk = {{MIN_SDK}}
        targetSdk = {{TARGET_SDK}}
        versionCode = 1
        versionName = "1.0"

        testInstrumentationRunner = "androidx.test.runner.AndroidJUnitRunner"
    }

    buildTypes {
        release {
            isMinifyEnabled = false
            proguardFiles(
                getDefaultProguardFile("proguard-android-optimize.txt"),
                "proguard-rules.pro"
            )
        }
    }
    compileOptions {
        sourceCompatibility = JavaVersion.VERSION_17
        targetCompatibility = JavaVersion.VERSION_17
    }
    kotlinOptions {
        jvmTarget = "17"
    }
    {{BUILD_FEATURES}}
}

dependencies {
    implementation("androidx.core:core-ktx:1.15.0")
    {{DEPENDENCIES}}

    testImplementation("junit:junit:4.13.2")
    androidTestImplementation("androidx.test.ext:junit:1.2.1")
    androidTestImplementation("androidx.test.espresso:espresso-core:3.6.1")
}
